In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
X_train = pd.read_csv('data/X_train_NHkHMNU.csv')
Y_train = pd.read_csv('data/y_train_ZAN5mwg.csv')

In [4]:
X_train.head(2)

,ID,DAY_ID,COUNTRY,DE_CONSUMPTION,FR_CONSUMPTION,DE_FR_EXCHANGE,FR_DE_EXCHANGE,DE_NET_EXPORT,FR_NET_EXPORT,DE_NET_IMPORT,...,FR_RESIDUAL_LOAD,DE_RAIN,FR_RAIN,DE_WIND,FR_WIND,DE_TEMP,FR_TEMP,GAS_RET,COAL_RET,CARBON_RET
0,1054,206,FR,0.210099,-0.427458,-0.606523,0.606523,NaN,0.692860,NaN,...,-0.444661,-0.17268,-0.556356,-0.790823,-0.283160,-1.069070,-0.063404,0.339041,0.124552,-0.002445
1,2049,501,FR,-0.022399,-1.003452,-0.022063,0.022063,-0.57352,-1.130838,0.57352,...,-1.183194,-1.24030,-0.770457,1.522331,0.828412,0.437419,1.831241,-0.659091,0.047114,-0.490365

In [6]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1494 non-null   int64
 1   DAY_ID            1494 non-null   int64
 2   COUNTRY           1494 non-null   object
 3   DE_CONSUMPTION    1494 non-null   float64
 4   FR_CONSUMPTION    1494 non-null   float64
 5   DE_FR_EXCHANGE    1469 non-null   float64
 6   FR_DE_EXCHANGE    1469 non-null   float64
 7   DE_NET_EXPORT     1370 non-null   float64
 8   FR_NET_EXPORT     1424 non-null   float64
 9   DE_NET_IMPORT     1370 non-null   float64
 10  FR_NET_IMPORT     1424 non-null   float64
 11  DE_GAS            1494 non-null   float64
 12  FR_GAS            1494 non-null   float64
 13  DE_COAL           1494 non-null   float64
 14  FR_COAL           1494 non-null   float64
 15  DE_HYDRO          1494 non-null   float64
 16  FR_HYDRO          1494 non-null   float64
 17  DE_NUCLEAR        1494 non-null   float64
 18  FR_NUCLEAR        1494 non-null   float64
 19  DE_SOLAR          1494 non-null   float64
 20  FR_SOLAR          1494 non-null   float64
 21  DE_WINDPOW        1494 non-null   float64
 22  FR_WINDPOW        1494 non-null   float64
 23  DE_LIGNITE        1494 non-null   float64
 24  DE_RESIDUAL_LOAD  1494 non-null   float64
 25  FR_RESIDUAL_LOAD  1494 non-null   float64
 26  DE_RAIN           1400 non-null   float64
 27  FR_RAIN           1400 non-null   float64
 28  DE_WIND           1400 non-null   float64
 29  FR_WIND           1400 non-null   float64
 30  DE_TEMP           1400 non-null   float64
 31  FR_TEMP           1400 non-null   float64
 32  GAS_RET           1494 non-null   float64
 33  COAL_RET          1494 non-null   float64
 34  CARBON_RET        1494 non-null   float64
dtypes: float64(32), int64(2), object(1)
memory usage: 408.6+ KB

In [8]:
(X_train.ID - Y_train.ID).sum()

0